@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

html::after {
  position: absolute;
  top: 0;
  left: 0;
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAAQABAAD/4gKMSUNDX1BST0ZJTEUAAQEAAAJ8AAAAAARAAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApkZXNjAAAA/AAAAFxyWFlaAAABWAAAABRnWFlaAAABbAAAABRiWFlaAAABgAAAABR3dHB0AAABlAAAABRyVFJDAAABqAAAAIxnVFJDAAABqAAAAIxiVFJDAAABqAAAAIxjaWNwAAACNAAAAAxjcHJ0AAACQAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAD4AAAAcAFIAZQBjADIAMAAyADAAIABHAGEAbQB1AHQAIAB3AGkAdABoACAASABMAEcAIABUAHIAYQBuAHMAZgBlAHIAAFhZWiAAAAAAAACsaAAAR2////+BWFlaIAAAAAAAACppAACs4wAAB61YWVogAAAAAAAAIAcAAAuuAADME1hZWiAAAAAAAAD21gABAAAAANMtY3VydgAAAAAAAABAAAAADQAuAF8AoQDxAVABvAI2Ar0DUgPyBKAFWQYeBvAHzQi1CaoKqQu0DMoN7A8XEE4RkBLcFDMVlBcAGHYZ+BuGHTMfBiEAIyYlfCgFKsUtwTD/NIM4VTx5QPhF2EsjUOBXGl3bZS9tIHW+fxeJOpQ4oCKtD7sTykXawOyg//9jaWNwAAAAAAkSAAFtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb//gAPTGF2YzYwLjMuMTAwAP/bAEMACAQEBAQEBQUFBQUFBgYGBgYGBgYGBgYGBgcHBwgICAcHBwYGBwcICAgICQkJCAgICAkJCgoKDAwLCw4ODhERFP/EAEwAAQEAAAAAAAAAAAAAAAAAAAAFAQEBAAAAAAAAAAAAAAAAAAAABBABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/AABEIAAEAAQMBEgACEgADEgD/2gAMAwEAAhEDEQA/AKQjFA//2Q==);
  height: 1px;
  width: 1px;
  display: block;
  content: "";
  opacity: 0.001;
}

@layer theme {
  @theme {
    /* Fonts */
    --font-rounded: "SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo,
      "MS PGothic", sans-serif;
  }
}

@media android {
  :root {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-serif: serif;
    --font-sans: normal;
  }
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-serif: ui-serif;
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
  }
}

@layer theme {
  @theme {
    /* https://github.com/konstaui/konsta/blob/ea24993739b60b16b53ed9f6847872adc4075b78/src/styles/glass.css#L1C1-L66C2 */

    /* prettier-ignore */
    --shadow-sf-light-glass-thumb:
        inset -3px -3px 0px -3.5px rgba(255, 255, 255, 1),
        inset 3px 3px 0px -3.5px rgba(255, 255, 255, 1),
        inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.5),
        inset 3px 3px 10px -2px #eee,
        inset -3px -3px 10px -2px #eee,
        inset 0 0 5px 1px #fff;

    /* prettier-ignore */
    --shadow-sf-dark-glass-thumb:
        inset 3px 3px 0px -3.5px rgba(255, 255, 255, 1),
        inset -3px -3px 0px -3.5px rgba(255, 255, 255, 1),
        inset -0.5px -0.5px 0px rgba(255, 255, 255, 0.5),
        inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1),
        inset -3px 3px 0px -3.5px rgba(255, 255, 255, 0.25),
        inset 0px -5px 0px -3.5px rgba(255, 255, 255, 0.25),
        inset 0px -5px 5px rgba(255, 255, 255, 0.25);

    /* prettier-ignore */
    --shadow-sf-light-glass-fab:
        inset -3px -3px 0px -3.5px #fff,
        inset 3px 3px 0px -3.5px #fff,
        inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.5),
        inset 3px 3px 10px -2px color-mix(in oklab, var(--color-primary) 100%, black),
        inset -3px -3px 10px -2px color-mix(in oklab, var(--color-primary) 100%, black),
        inset 0 0 5px 1px #fff,
        0 0 15px 4px rgba(0, 0, 0, 0.2);

    /* prettier-ignore */
    --shadow-sf-dark-glass-fab:
        inset 3px 3px 0px -3.5px var(--color-primary),
        inset -3px -3px 0px -3.5px var(--color-primary),
        inset -0.5px -0.5px 0px rgba(255, 255, 255, 0.5),
        inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1),
        inset -3px 3px 0px -3.5px rgba(255, 255, 255, 0.25),
        inset 0px -5px 0px -3.5px color-mix(in oklab, var(--color-primary) 50%, transparent 10%),
        inset 0px -5px 5px color-mix(in oklab, var(--color-primary) 50%, transparent 10%),
        0 0 15px 4px rgba(0, 0, 0, 0.2);

    /* prettier-ignore */
    --shadow-sf-light-glass:
        inset -1px -1px 0px -0.5px rgba(255, 255, 255, 1),
        inset 1px 1px 0px -0.5px rgba(255, 255, 255, 1),
        inset 3px 3px 10px -3px #ddd,
        inset -3px -3px 10px -3px #ddd,
        inset 0 0 5px 1px #fff,
        inset 0 0 0 0.5px rgba(0, 0, 0, 0.25),
        inset 0 0 24px 0 rgba(0, 0, 0, 0.1),
        0 0 25px 0 rgba(0, 0, 0, 0.2);

    /* prettier-ignore */
    --shadow-sf-dark-glass:
        inset -2px -2px 0.5px -2.5px rgba(255, 255, 255, 0.4),
        inset 3px 3px 0.5px -3.5px rgba(255, 255, 255, 0.4),
        inset 2px 2px 0.5px -2px #262626,
        inset -2px -2px 0.5px -2px #262626,
        inset 0 0 5px 1px #141414,
        inset 0 0 0 1px rgba(255, 255, 255, 0.15),
        inset 0 0 10px 0 rgba(255, 255, 255, 0.075),
        inset 0 0 24px 0 rgba(255, 255, 255, 0.05),
        0 0 25px 0 rgba(0, 0, 0, 0.15);

    /*  */
    --color-sf-hover-glass: rgba(255, 255, 255, 0.5);
    /* --color-ios-hover-highlight: rgba(255, 255, 255, 0.3); */
  }
}

.hdr-thing {
  /* background-color: color(from rgb(255, 255, 255) srgb 8 8 8); */
  background-image: radial-gradient(circle at center, color(from rgb(255, 255, 255) srgb 8 8 8), transparent 50%);
}
